@import url('./classicresume.css');
.classic-education{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  padding-left: 20px;

  .classic-education-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
      text-align: left;
      font-size: 80%;
      margin-top: 0px;
    }

    .education-date{
      margin-top: -18px;
      font-size: 60%;
    }
  }

  hr{
    width: 90%;
    margin-bottom: 2px;
  }
}
