.config-edit {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23rem;
  border: 2px solid black;
  gap: 2px;
  padding: 8px 16px;

  label{
    font-weight: bold;
  }

  .config-lang{
    display: flex;
    align-self: flex-start;
  }

  .config-color {
    width: inherit;
    display: flex;
    justify-content: space-between;

    .font,
    .accent {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .config-font{
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    button{
      appearance: none;
      border: 2px solid #000;
      height: 3rem;
      width: 10rem;
      font-size: 110%;
      font-weight: bold;
      transition: background-color 0.3s ease-in;

      &:hover{
        background-color: rgba(10, 10, 10, 0.2);
        cursor: pointer;
      }
    }

  }

  .config-scale{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    width: 80%;

    & > .scale{
      display: flex;
      flex-direction: column;
      input[type="text"]{
        width: 3.5rem;
        padding: 6px 12px;
        text-align: center;
      }
    }
  }
  
}

.rule{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid white;
  width: 25%;
}

.rule::after{
  content: '';
}

@media (width <= 768px){
  .config-edit{
    justify-self: start;
    align-items: start;
    max-width: 100%;

    .config-scale{
      align-self: start;
    }
  }

}

@media (prefers-color-scheme: light){
  .rule{
    border-color: black;
  }
}
