.config-edit {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 23rem;
  border: 2px solid black;
  gap: 12px;
  padding: 8px 16px;

  .config-color {
    width: inherit;
    display: flex;
    justify-content: space-between;

    .font,
    .accent {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .config-font{
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    button{
      appearance: none;
      border: 2px solid #000;
      height: 3rem;
      width: 10rem;
      font-size: 110%;
      font-weight: bold;
      transition: background-color 0.3s ease-in;

      &:hover{
        background-color: rgba(10, 10, 10, 0.2);
        cursor: pointer;
      }
    }

  }
}
