.header-download{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .download-btn{
    /* appearance: none; */
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 18px 18px;
    font-size: 140%;
    font-weight: bold;
    transition: background-color 0.3s ease-in;

    &:hover{
      background-color: rgba(10, 10, 10, 0.2);
      cursor: pointer;
    }

  }
}

@media (width <= 768px){
  .header-download{
    align-items: flex-start;
    max-width: 74%;
  }
}
