.header-options {
  display: flex;

  .btn-options {
    /* appearance: none; */
    width: 13rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 18px 18px;
    font-size: 140%;
    font-weight: bold;
    transition: background-color 0.3s ease-in;

    &:hover{
      background-color: rgba(10, 10, 10, 0.2);
      cursor: pointer;
    }
  }

}

@media (width <= 768px){
  .header-options{
    max-width: 100%;
  }
}
