@import url('./resumepreview.css');
@import url('./resumeedit.css');
@import url('./pageheader.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --h1-size: 2.8;
  --scale: 0.80;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: 6rem 10fr;
  grid-template-areas:
    "header header"
    "left right";

  align-items: start;
  position: relative;
}

.page-header {
  grid-area: header;
}

.resume-edit {
  grid-area: left;
}

.resume-preview {
  grid-area: right;
  max-width: auto;
}

h1 {
  font-size: calc(var(--h1-size) * 1em);
  line-height: 1.1;
}

.btn-edit {
  /* appearance: none; */
  width: 26rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 18px 18px;
  font-size: 140%;
  font-weight: bold;
}

.chevron {
  font-weight: bold;
  transition: transform 0.5s ease-out;
}

.chevron.is-open {
  transform: rotate(90deg);
}

.formedit {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  transition-behavior: allow-discrete;

  input[type='text'],
  textarea {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 2px;
    width: inherit;
  }

  label {
    font-weight: bold;
  }
}

@starting-style {
  .formedit.is-open {
    max-height: 0;
    opacity: 0;
  }
}

.formedit.is-open {

  max-height: 500px;
  opacity: 1;
  width: auto;
}

.btn-add {
  align-self: center;
  appearance: none;
  padding: 2px 4px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  font-size: 120%;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(10, 10, 10, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (width <=768px) {
  :root {
    --scale: 0.5;
    /* --h1-size: 1.2; */
  }

  body{
    padding: 0;
  }

  #root {
    grid-template-columns: 620px;
    grid-template-areas: "header"
      "edit"
      "preview";
    grid-template-rows: 200px 1fr 1fr;
    margin-left: 0;
  }

  .page-header {
    grid-area: header;
  }

  .resume-edit {
    grid-area: edit;

  }

  .resume-preview {
    grid-area: preview;
  }

}

@media (width <= 1024px){
  :root{
    --scale: 0.6;
  }
}
