:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-edit {
  /* appearance: none; */
  width: 26rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 18px 18px;
  font-size: 140%;
  font-weight: bold;


}

.chevron {
  font-weight: bold;
  transition: transform 0.5s ease-out;
}

.chevron.is-open {
  transform: rotate(90deg);
}

.formedit {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  transition-behavior: allow-discrete;

  input[type='text'],
  textarea {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 2px;
    width: inherit;
  }

  label {
    font-weight: bold;
  }
}

@starting-style {
  .formedit.is-open {
    max-height: 0;
    opacity: 0;
  }
}

.formedit.is-open {

  max-height: 500px;
  opacity: 1;
  width: auto;
}

.btn-add {
  align-self: center;
  appearance: none;
  padding: 2px 4px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  font-size: 120%;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(10, 10, 10, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
