
.page-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 90px;
  justify-items: center;
  width: 100%;
  position: relative;
}

@media (width <= 768px){
  .page-header{
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: start;
    margin: 0;
  }
}
