@import url('./index.css');

:root {
  --photo-size: 180;
  --bg-header-color: lightgray;
}

.resume-header {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-header-color);

  .header-right {
    position: relative;

    .header-photo {
      height: calc(var(--photo-size) * var(--scale) * 1px);
      width: calc(var(--photo-size) * var(--scale) * 1px);
      object-fit: cover;
      border: 1px solid black;
      border-radius: 50%;
      position: absolute;
      bottom: -20%;
      right: 20%;
    }
  }

}

@media (width <=768px) {
  .resume-header {
    max-height: 150px;

    .header-left {
      h1 {
        font-size: 150%;
      }

      h3 {
        font-size: 110%;
      }
    }
  }

}
