.contact-section {
  display: flex;
  flex-direction: column;

  h2 {
    align-self: center;
    margin-bottom: -10px;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    list-style-position: outside;
    padding-left: 8px;
    text-align: left;

    .links-preview-item {
      display: flex;
      place-items: center;
      gap: 18px;
      font-size: 75%;
      font-weight: 300;
    }
  }
}
