.resume-edit {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: start;
  justify-self: center;
  align-items: flex-start;

  .formedit {
    width: 100%;
  }

}

@media (width <= 768px){
  .resume-edit{
    justify-self: start;
  }
}
