.preview-profile{
  display: flex;
  flex-direction: column;

  h2{
    align-self: flex-start;
    margin-bottom: -10px;
  }
  .preview-bio{
    font-size: 80%;
    font-style: italic;
    text-align: left;
  }
}

@media (width <= 1024px){
  .preview-profile{
    font-size: 90%;
  }
}

@media (width <= 768px){
  .preview-profile{
    .preview-bio{
      font-size: 97%;
    }
  }
}
