@import url('./index.css');
@import url('./resumeheader.css');
@import url('./resumecontact.css');
@import url('./resumeskill.css');
@import url('./resumelanguages.css');
@import url('./resumeside.css');
@import url('./resumemain.css');

:root {
  --a4-height: 297;
  --a4-width: 210;
  --font-color: #000;
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-serif: "Times new romans", serif;
}

.resume-preview {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: "header header"
    "side main"
    "side main"
    "side main";
  justify-self: center;

  border: 1px solid none;
  width: calc(var(--a4-width) * var(--scale) * 1mm);
  height: calc(var(--a4-height) * var(--scale) * 1mm);
  box-shadow: 2px 2px 12px 15px rgb(244 255 255 / 0.2);
  padding-top: 10px;
  background-color: #fff;
  color: var(--font-color);
  position: sticky;
  top: 20px;
  font-size: calc(140% * var(--scale));
}

.resume-header {
  grid-area: header;

  .header-left {
    h1 {
      font-size: calc(var(--h1-size) * var(--scale) * 1em);
    }
  }

}

.preview-side {
  grid-area: side;
}

.preview-main {
  grid-area: main;
}



@media (prefers-color-scheme: light) {
  .resume-preview {
    border-color: none;
    box-shadow: 2px 2px 12px 15px rgb(10 10 10 / 0.2);
  }

}

@media (width <=768px) {
  .resume-preview {
    justify-self: start;
    /* font-size: calc(120% * var(--scale)); */
    font-size: calc(120% * var(--scale));
    max-width: 100%;

    & h1 {
      font-size: calc(150% * var(--scale));
    }

    &  h2 {
      font-size: 110%;
    }
  }

}

@media (width <= 1024px){
  .resume-preview{
    position: relative;
    width: 100%;
    font-size: 90%;
    top: 0;

    & h2{
      font-size: 120%;
    }
  }
}
