.languages-section{
  display: flex;
  flex-direction: column;

  h2{
    margin-bottom: -10px;
  }

  .languages-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-auto-rows: minmax(20px, 1fr);
    list-style: none;
    justify-items: start;
    /* padding-left: 8px; */

    .languages-item{
      text-transform: capitalize;
      font-size: 90%;
    }
  }
}

@media (width <= 768px){
  .languages-list{
    padding-left: 1rem;
  }
}
