.preview-side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "contact"
    "skills"
    "languages";
}

.contact-section{
  grid-area: contact;
}

.skill-preview{
  grid-area: skills;
}

.languages-section{
  grid-area: languages;
}
